<div fxLayout="row" fxLayoutAlign="center center" *ngIf="selectedCountry.length !== 0 && !loading" class="d-flex">
    <img width="110px" [src]="flag" class="nation-flag mat-elevation-z1">
    <div>
        <h3 class="mat-display-1 mat-h3">{{ selectedCountryName }}</h3>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="!loading" class="mt-10 d-flex">
    <mat-card class="content-card mt-10">
        <mat-card-header>
            <mat-card-title>Total cases</mat-card-title>
            <mat-card-subtitle>{{ casesWorld | number }} <div class="d-inline" matTooltip="Today cases">(+{{ todayCases
                    | number }})</div>
            </mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="content-card mt-10">
        <mat-card-header>
            <mat-card-title>Active cases</mat-card-title>
            <mat-card-subtitle>{{ activeWorld | number }}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="content-card mt-10">
        <mat-card-header>
            <mat-card-title>Recovered</mat-card-title>
            <mat-card-subtitle>{{ recoveredWorld | number }}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="content-card mt-10">
        <mat-card-header>
            <mat-card-title>Deaths</mat-card-title>
            <mat-card-subtitle>{{ deathsWorld | number }}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="loading" class="mt-10">
    <mat-spinner></mat-spinner>
</div>