<div fxLayout="row" fxLayoutAlign="center none" *ngIf="selectedCountry.length !== 0">
    <img [src]="flag">
    <div>
        <h3 class="mat-display-1 mat-h3">{{selectedCountryName}}</h3>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="!loading" class="mt-10">
    <mat-card class="content-card">
        <mat-card-header>
            <mat-card-title>Total cases</mat-card-title>
            <mat-card-subtitle>{{ casesWorld }}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="content-card">
        <mat-card-header>
            <mat-card-title>Active cases</mat-card-title>
            <mat-card-subtitle>{{ activeWorld }}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="content-card">
        <mat-card-header>
            <mat-card-title>Recovered</mat-card-title>
            <mat-card-subtitle>{{ recoveredWorld }}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card class="content-card">
        <mat-card-header>
            <mat-card-title>Deaths</mat-card-title>
            <mat-card-subtitle>{{ deathsWorld }}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>
<mat-spinner *ngIf="loading"></mat-spinner>