<mat-toolbar class="mat-elevation-z1">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
   </button>
   <span>Covid19 - Statistics</span>
   <span class="align-space"></span>
   <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>facebook</mat-icon>
      <span>Facebook</span>
    </button>
    <button mat-menu-item>
      <img class="twitter" src="assets/images/twitter.png">
      <span>Twitter</span>
    </button>
  </mat-menu>
 </mat-toolbar>